<h2>Your chosen celebrity</h2>

{{#with celeb}}
    <p>Name: {{name}}</p>
    <p>Occupation: {{occupation}}</p>
    <p>Catchphrase: "{{catchPhrase}}"</p>
    <a href="/celebrities/{{_id}}/edit">Edit {{name}}</a>
{{/with}}

<a href="/celebrities">To the celebrities!</a>
<a href="/">Home</a>
